*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}
#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container {
    padding: 10px 10%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 140px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: x-large;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
color: aqua;
}

.work {
border-radius: 10px;
 position: relative;
 overflow: hidden;
 padding: 20px 20px 25px 20px; 
 background: #262626; 
 text-align: left; 
}


.work img {
 width: 100%;
border-radius: 10px;
 display: block;
}

.work-details {
 padding: 0; 
 margin-top: 15px;
}

.work-details h3 {
 font-size: 1.2em; 
 margin-bottom: 5px;
 font-weight: 500;
}

.work-details p {
 font-size: 0.9em;
color: #c0c0c0; 
}